@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button, a {
    cursor: pointer;
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
